/* styles.css ou styles.scss */
.btn-clientes {
    background-color: rgba(245, 173, 161, 1);
    border-color: rgba(245, 173, 161, 1);
  }

  .btn-historico {
    background-color: rgba(245, 173, 161, 1);
    border-color: rgba(245, 173, 161, 1);
  }
  